In [11]:
import pandas as pd

In [12]:
df = pd.read_csv('./01_raw_data/EV_project/경제 지표/기준금리.csv', encoding='cp949')

In [13]:
df_rate = df.copy()
df_rate

    변경일자 Unnamed: 1  기준금리
0   2025    05월 29일  2.50
1   2025    02월 25일  2.75
2   2024    11월 28일  3.00
3   2024    10월 11일  3.25
4   2023    01월 13일  3.50
5   2022    11월 24일  3.25
6   2022    10월 12일  3.00
7   2022    08월 25일  2.50
8   2022    07월 13일  2.25
9   2022    05월 26일  1.75
10  2022    04월 14일  1.50
11  2022    01월 14일  1.25
12  2021    11월 25일  1.00
13  2021    08월 26일  0.75
14  2020    05월 28일  0.50
15  2020    03월 17일  0.75
16  2019    10월 16일  1.25
17  2019    07월 18일  1.50
18  2018    11월 30일  1.75
19  2017    11월 30일  1.50
20  2016    06월 09일  1.25
21  2015    06월 11일  1.50
22  2015    03월 12일  1.75
23  2014    10월 15일  2.00
24  2014    08월 14일  2.25
25  2013    05월 09일  2.50
26  2012    10월 11일  2.75
27  2012    07월 12일  3.00
28  2011    06월 10일  3.25
29  2011    03월 10일  3.00
30  2011    01월 13일  2.75
31  2010    11월 16일  2.50
32  2010    07월 09일  2.25
33  2009    02월 12일  2.00
34  2009    01월 09일  2.50
35  2008    12월 11일  3.00
36  2008    11월 07일  4.00
37  2008    10월 27일  4.25
38  2008    10월 09일  5.00
39  2008    08월 07일  5.25
40  2007    08월 09일  5.00
41  2007    07월 12일  4.75
42  2006    08월 10일  4.50
43  2006    06월 08일  4.25
44  2006    02월 09일  4.00
45  2005    12월 08일  3.75
46  2005    10월 11일  3.50
47  2004    11월 11일  3.25
48  2004    08월 12일  3.50
49  2003    07월 10일  3.75
50  2003    05월 13일  4.00
51  2002    05월 07일  4.25
52  2001    09월 19일  4.00
53  2001    08월 09일  4.50
54  2001    07월 05일  4.75
55  2001    02월 08일  5.00
56  2000    10월 05일  5.25
57  2000    02월 10일  5.00
58  1999    05월 06일  4.75

In [14]:
import pandas as pd


df_rate['date'] = pd.to_datetime(
    df_rate['변경일자'].astype(str) + ' ' + df_rate['Unnamed: 1'],
    format='%Y %m월 %d일'
)

df_rate = df_rate[['date', '기준금리']].sort_values('date')

daily_rate = (
    df_rate
    .set_index('date')
    .resample('D')
    .ffill()
    .reset_index()
)

monthly_rate = (
    daily_rate
    .groupby(daily_rate['date'].dt.to_period('M'))
    .agg({'기준금리': 'mean'})
    .reset_index()
)
monthly_rate['년도'] = monthly_rate['date'].dt.year
monthly_rate['월']   = monthly_rate['date'].dt.month
monthly_rate = monthly_rate[['년도', '월', '기준금리']] \
    .rename(columns={'기준금리': '평균기준금리'})

monthly_rate

       년도  월    평균기준금리
0    1999  5  4.750000
1    1999  6  4.750000
2    1999  7  4.750000
3    1999  8  4.750000
4    1999  9  4.750000
..    ... ..       ...
308  2025  1  3.000000
309  2025  2  2.964286
310  2025  3  2.750000
311  2025  4  2.750000
312  2025  5  2.741379

[313 rows x 3 columns]