In [2]:
import pandas as pd
from pandas.api.types import CategoricalDtype

In [ ]:
df_gasoline = pd.read_csv("./01_raw_data/EV_project/에너지·연료비용/휘발유 가격/휘발유.csv", skiprows=6, encoding='cp949')
df_gasoline_avg = pd.read_csv("./01_raw_data/EV_project/에너지·연료비용/휘발유 가격/휘발유_전국.csv", skiprows=6 , encoding='cp949')
df_diesel = pd.read_csv("./01_raw_data/EV_project/에너지·연료비용/경유 가격/디젤.csv" , skiprows=6, encoding='cp949')
df_diesel_avg = pd.read_csv("./01_raw_data/EV_project/에너지·연료비용/경유 가격/디젤_전국.csv", skiprows=6 , encoding='cp949')

In [4]:
df_gasoline

,구분,서울,부산,대구,인천,광주,대전,울산,경기,강원,충북,충남,전북,전남,경북,경남,제주,세종
0,2015년06월,1670.46,1571.07,1569.50,1580.86,1564.17,1573.47,1570.94,1588.83,1582.19,1576.88,1577.64,1567.15,1567.43,1560.96,1564.64,1652.35,1580.46
1,2015년07월,1664.34,1558.39,1556.01,1573.02,1557.52,1571.53,1561.71,1583.57,1582.67,1577.75,1577.40,1561.99,1568.06,1557.57,1562.02,1638.94,1578.82
2,2015년08월,1635.58,1526.63,1520.39,1544.98,1520.20,1536.35,1524.89,1552.02,1554.43,1550.13,1547.90,1528.32,1542.04,1524.36,1528.68,1594.84,1543.23
3,2015년09월,1601.05,1493.24,1486.42,1513.60,1485.35,1503.02,1491.14,1518.95,1518.90,1519.35,1516.47,1497.66,1507.94,1493.02,1493.18,1561.82,1509.92
4,2015년10월,1582.03,1482.04,1474.18,1497.83,1472.88,1492.93,1483.24,1505.41,1502.46,1504.80,1503.82,1487.84,1494.47,1481.65,1481.25,1556.47,1504.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,2025년02월,1791.00,1720.76,1700.37,1727.58,1713.82,1714.08,1715.63,1730.23,1741.62,1733.52,1731.02,1710.87,1729.64,1722.86,1715.46,1768.41,1731.24
117,2025년03월,1747.02,1669.56,1654.48,1666.62,1676.71,1661.47,1664.63,1681.76,1711.75,1700.12,1694.14,1680.36,1704.94,1686.76,1677.71,1751.84,1683.17
118,2025년04월,1711.84,1619.77,1606.34,1628.05,1629.56,1615.95,1610.06,1640.71,1673.95,1657.80,1652.03,1642.85,1664.88,1639.99,1634.76,1709.51,1642.37
119,2025년05월,1709.48,1611.86,1596.78,1625.09,1618.22,1618.32,1599.87,1634.49,1659.29,1646.01,1643.27,1631.27,1648.36,1624.83,1623.07,1689.00,1631.47
120,2025년06월,1714.58,1627.39,1608.11,1639.40,1626.09,1628.00,1612.66,1642.36,1654.59,1650.49,1647.00,1633.80,1644.28,1631.16,1631.26,1697.45,1629.31

In [5]:
print(df_diesel.columns.tolist())

['구분', '서울', '부산', '대구', '인천', '광주', '대전', '울산', '경기', '강원', '충북', '충남', '전북', '전남', '경북', '경남', '제주', '세종']

In [6]:

for df in [df_gasoline, df_gasoline_avg, df_diesel, df_diesel_avg]:
    df.rename(columns={df.columns[0]: '기간'}, inplace=True)

def reshape_long(df, 전국=False):
    if 전국:
        df = df.copy()
        df['시도'] = '전국'
        df = df.rename(columns={df.columns[1]: '가격'})
        df_long = df[['기간', '시도', '가격']].copy() 
    else:
        df_long = df.melt(id_vars='기간', var_name='시도', value_name='가격').copy()

    df_long['연도'] = df_long['기간'].str[:4].astype(int)
    df_long['월'] = df_long['기간'].str[5:7].astype(int)
    df_long['가격'] = pd.to_numeric(df_long['가격'], errors='coerce')

    return df_long[['연도', '월', '시도', '가격']]

gasoline_long = reshape_long(df_gasoline)
gasoline_avg_long = reshape_long(df_gasoline_avg, 전국=True)
diesel_long = reshape_long(df_diesel)
diesel_avg_long = reshape_long(df_diesel_avg, 전국=True)

print("휘발유 (지역별):")
print(gasoline_long.head())

print("\n휘발유 (전국):")
print(gasoline_avg_long.head())

print("\n디젤 (지역별):")
print(diesel_long.head())

print("\n디젤 (전국):")
print(diesel_avg_long.head())

휘발유 (지역별):
     연도   월  시도       가격
0  2015   6  서울  1670.46
1  2015   7  서울  1664.34
2  2015   8  서울  1635.58
3  2015   9  서울  1601.05
4  2015  10  서울  1582.03

휘발유 (전국):
     연도   월  시도       가격
0  2015   7  전국  1922.84
1  2015   8  전국  1896.98
2  2015   9  전국  1866.32
3  2015  10  전국  1854.83
4  2015  11  전국  1829.07

디젤 (지역별):
     연도   월  시도       가격
0  2015   6  서울  1458.61
1  2015   7  서울  1445.31
2  2015   8  서울  1409.95
3  2015   9  서울  1376.38
4  2015  10  서울  1359.41

디젤 (전국):
     연도   월  시도       가격
0  2015   7  전국  1354.65
1  2015   8  전국  1307.77
2  2015   9  전국  1263.79
3  2015  10  전국  1251.92
4  2015  11  전국  1234.95

In [ ]:


sido_order = [
    '서울', '부산', '대구', '인천', '광주', '대전', '울산', '경기', '강원',
    '충북', '충남', '전북', '전남', '경북', '경남', '제주', '세종', '전국'
]
sido_type = CategoricalDtype(categories=sido_order, ordered=True)

for df in [gasoline_long, gasoline_avg_long, diesel_long, diesel_avg_long]:
    df['시도'] = df['시도'].astype(str)
    df['시도'] = df['시도'].astype(sido_type)

gasoline_all = pd.concat([gasoline_long, gasoline_avg_long], ignore_index=True)
diesel_all = pd.concat([diesel_long, diesel_avg_long], ignore_index=True)

merged = pd.merge(
    gasoline_all,
    diesel_all,
    on=['연도', '월', '시도'],
    how='outer',
    suffixes=('_휘발유', '_디젤')
)

merged = merged[['연도', '월', '시도', '가격_휘발유', '가격_디젤']]
merged = merged.rename(columns={'연도':'년도','시도':'지역','가격_휘발유': '휘발유가격', '가격_디젤': '디젤가격'})

merged = merged.sort_values(['년도', '월', '지역']).reset_index(drop=True)

merged

        년도  월  지역    휘발유가격     디젤가격
0     2015  6  서울  1670.46  1458.61
1     2015  6  부산  1571.07  1362.94
2     2015  6  대구  1569.50  1358.55
3     2015  6  인천  1580.86  1365.15
4     2015  6  광주  1564.17  1354.82
...    ... ..  ..      ...      ...
2172  2025  6  경북  1631.16  1491.00
2173  2025  6  경남  1631.26  1493.62
2174  2025  6  제주  1697.45  1557.12
2175  2025  6  세종  1629.31  1500.88
2176  2025  6  전국  1905.92  1505.43

[2177 rows x 5 columns]

In [8]:
merged.to_csv("./02_interim_data/oil_prices.csv", index=False, encoding='utf-8-sig')