In [1]:
import pandas as pd

In [2]:
df_charger =            pd.read_csv('./02_interim_data/region_monthly_chargers.csv', encoding='utf-8-sig')
df_range_efficiency =   pd.read_csv('./02_interim_data/ev_data_monthly_average.csv', encoding='utf-8-sig')
df_ev =                 pd.read_csv('./02_interim_data/vechicle_ev_data.csv', encoding='utf-8-sig')
df_total =              pd.read_csv('./02_interim_data/vechicle_total_data.csv', encoding='utf-8-sig')
df_hydrogen =           pd.read_csv('./02_interim_data/vechicle_hydrogen_data.csv', encoding='utf-8-sig')
df_hyb =                pd.read_csv('./02_interim_data/vechicle_hyb_data.csv', encoding='utf-8-sig')
df_temperature_rain =   pd.read_csv('./02_interim_data/temperature_rain_data.csv', encoding='utf-8-sig')
df_dust =               pd.read_csv('./02_interim_data/dust_data.csv', encoding='utf-8-sig') 
df_cpi_unemp_rate =     pd.read_csv('./02_interim_data/cpi_unemp_rate.csv')
df_income_total =       pd.read_csv('./01_raw_data/EV_project/경제 지표/지역별_자산__부채__소득_현황_20250806100101.csv', encoding='cp949')
df_subsidy =            pd.read_csv('./02_interim_data/subsidy/subsidy.csv', encoding='utf-8-sig')
df_vechicle =           pd.read_csv('./02_interim_data/vechicle_data_except_ev.csv',encoding='utf-8-sig')

In [3]:
df = df_ev.copy()
df = df.drop(columns=['연료'])
df.rename(columns={'등록수': '전기차 등록수','순증가량':'전기차 순증가량'}, inplace=True)
df

         년도   월  지역  차종    용도  전기차 등록수  전기차 순증가량
0      2020   1  강원  소계     계     2448         3
1      2020   1  강원  소계  비사업용     2303         3
2      2020   1  강원  소계   사업용      145         0
3      2020   1  강원  승용     계     2426         3
4      2020   1  강원  승용  비사업용     2300         3
...     ...  ..  ..  ..   ...      ...       ...
16195  2024  12  충북  특수  비사업용       16         2
16196  2024  12  충북  특수   사업용        0         0
16197  2024  12  충북  화물     계     7219        73
16198  2024  12  충북  화물  비사업용     6253        55
16199  2024  12  충북  화물   사업용      966        18

[16200 rows x 7 columns]

In [4]:
exclude_types = ['특수', '승합', '소계']
df_filtered = df[~df['차종'].isin(exclude_types)].copy()
df_filtered

         년도   월  지역  차종    용도  전기차 등록수  전기차 순증가량
3      2020   1  강원  승용     계     2426         3
4      2020   1  강원  승용  비사업용     2300         3
5      2020   1  강원  승용   사업용      126         0
12     2020   1  강원  화물     계        2         0
13     2020   1  강원  화물  비사업용        2         0
...     ...  ..  ..  ..   ...      ...       ...
16189  2024  12  충북  승용  비사업용    16069        68
16190  2024  12  충북  승용   사업용     1831       -30
16197  2024  12  충북  화물     계     7219        73
16198  2024  12  충북  화물  비사업용     6253        55
16199  2024  12  충북  화물   사업용      966        18

[6480 rows x 7 columns]

In [5]:
def merge_on_keys(df_target, df_other, on_cols):
    return pd.merge(
        df_target,
        df_other,
        on=on_cols,
        how='left'
    )

In [6]:
df_range_efficiency

     year  month  차종    연료소비효율    1회충전주행거리     배터리충전용량
0    2018      1  소계       NaN         NaN         NaN
1    2018      2  소계       NaN         NaN         NaN
2    2018      3  소계       NaN         NaN         NaN
3    2018      4  소계  4.750000  377.000000  220.000000
4    2018      5  소계  4.750000  377.000000  220.000000
..    ...    ...  ..       ...         ...         ...
247  2024      8  승용  4.596659  400.574033  187.493669
248  2024      9  승용  4.517480  410.580492  185.733572
249  2024     10  승용  4.516022  414.465980  182.434982
250  2024     11  승용  4.554270  407.257480  173.509910
251  2024     12  승용  4.521298  408.810841  174.553654

[252 rows x 6 columns]

In [7]:
df_range_efficiency = df_range_efficiency.rename(columns={
    'year': '년도',
    'month': '월',
})
df_merged_1 = merge_on_keys(df_filtered, df_range_efficiency, ['년도', '월', '차종'])
df_merged_1

,년도,월,지역,차종,용도,전기차 등록수,전기차 순증가량,연료소비효율,1회충전주행거리,배터리충전용량
0,2020,1,강원,승용,계,2426,3,4.741667,399.361111,227.888889
1,2020,1,강원,승용,비사업용,2300,3,4.741667,399.361111,227.888889
2,2020,1,강원,승용,사업용,126,0,4.741667,399.361111,227.888889
3,2020,1,강원,화물,계,2,0,2.725000,149.250000,202.500000
4,2020,1,강원,화물,비사업용,2,0,2.725000,149.250000,202.500000
...,...,...,...,...,...,...,...,...,...,...
6475,2024,12,충북,승용,비사업용,16069,68,4.521298,408.810841,174.553654
6476,2024,12,충북,승용,사업용,1831,-30,4.521298,408.810841,174.553654
6477,2024,12,충북,화물,계,7219,73,3.057143,208.785714,158.138462
6478,2024,12,충북,화물,비사업용,6253,55,3.057143,208.785714,158.138462
6479,2024,12,충북,화물,사업용,966,18,3.057143,208.785714,158.138462

In [8]:
df_charger

,년도,월,지역,완속충전기_신규설치,급속충전기_신규설치,전체충전기_신규설치,완속충전기_누적대수,급속충전기_누적대수,전체충전기_누적대수
0,2019,1,강원,18.833333,12.166667,31.000000,18.833333,12.166667,31.000000
1,2019,2,강원,18.833333,12.166667,31.000000,37.666667,24.333333,62.000000
2,2019,3,강원,18.833333,12.166667,31.000000,56.500000,36.500000,93.000000
3,2019,4,강원,18.833333,12.166667,31.000000,75.333333,48.666667,124.000000
4,2019,5,강원,18.833333,12.166667,31.000000,94.166667,60.833333,155.000000
...,...,...,...,...,...,...,...,...,...
1291,2024,8,충북,253.916667,40.916667,294.833333,9475.333333,1683.333333,11158.666667
1292,2024,9,충북,253.916667,40.916667,294.833333,9729.250000,1724.250000,11453.500000
1293,2024,10,충북,253.916667,40.916667,294.833333,9983.166667,1765.166667,11748.333333
1294,2024,11,충북,253.916667,40.916667,294.833333,10237.083333,1806.083333,12043.166667
1295,2024,12,충북,253.916667,40.916667,294.833333,10491.000000,1847.000000,12338.000000

In [9]:
df_merged_2 = merge_on_keys(df_merged_1,df_charger,['년도', '월', '지역'])

df_merged_2

,년도,월,지역,차종,용도,전기차 등록수,전기차 순증가량,연료소비효율,1회충전주행거리,배터리충전용량,완속충전기_신규설치,급속충전기_신규설치,전체충전기_신규설치,완속충전기_누적대수,급속충전기_누적대수,전체충전기_누적대수
0,2020,1,강원,승용,계,2426,3,4.741667,399.361111,227.888889,36.000000,11.750000,47.750000,262.0,157.75,419.75
1,2020,1,강원,승용,비사업용,2300,3,4.741667,399.361111,227.888889,36.000000,11.750000,47.750000,262.0,157.75,419.75
2,2020,1,강원,승용,사업용,126,0,4.741667,399.361111,227.888889,36.000000,11.750000,47.750000,262.0,157.75,419.75
3,2020,1,강원,화물,계,2,0,2.725000,149.250000,202.500000,36.000000,11.750000,47.750000,262.0,157.75,419.75
4,2020,1,강원,화물,비사업용,2,0,2.725000,149.250000,202.500000,36.000000,11.750000,47.750000,262.0,157.75,419.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6475,2024,12,충북,승용,비사업용,16069,68,4.521298,408.810841,174.553654,253.916667,40.916667,294.833333,10491.0,1847.00,12338.00
6476,2024,12,충북,승용,사업용,1831,-30,4.521298,408.810841,174.553654,253.916667,40.916667,294.833333,10491.0,1847.00,12338.00
6477,2024,12,충북,화물,계,7219,73,3.057143,208.785714,158.138462,253.916667,40.916667,294.833333,10491.0,1847.00,12338.00
6478,2024,12,충북,화물,비사업용,6253,55,3.057143,208.785714,158.138462,253.916667,40.916667,294.833333,10491.0,1847.00,12338.00
6479,2024,12,충북,화물,사업용,966,18,3.057143,208.785714,158.138462,253.916667,40.916667,294.833333,10491.0,1847.00,12338.00

In [10]:
df_vechicle

,년도,월,차종,차량전체_등록수,차량전체_순증가량,수소차_등록수,수소차_순증가량,하이브리드차_등록수,하이브리드차_순증
0,2020,1,소계,94921144,211680,20668,336,2053876,29688
1,2020,1,승용,76897048,186980,20608,336,2052532,29688
2,2020,1,승합,3243076,-4120,60,0,1344,0
3,2020,1,특수,383912,2056,0,0,0,0
4,2020,1,화물,14397108,26764,0,0,0,0
...,...,...,...,...,...,...,...,...,...
295,2024,12,소계,105191676,97252,150228,300,8097924,206532
296,2024,12,승용,87084480,107064,144132,4,8077036,204848
297,2024,12,승합,2664664,-7244,5932,284,8724,584
298,2024,12,특수,575560,1688,12,0,400,28
299,2024,12,화물,14866972,-4256,152,12,11764,1072

In [11]:
df_merged_3 = merge_on_keys(df_merged_2,df_vechicle,['년도', '월','차종'])

df_merged_3

,년도,월,지역,차종,용도,전기차 등록수,전기차 순증가량,연료소비효율,1회충전주행거리,배터리충전용량,...,전체충전기_신규설치,완속충전기_누적대수,급속충전기_누적대수,전체충전기_누적대수,차량전체_등록수,차량전체_순증가량,수소차_등록수,수소차_순증가량,하이브리드차_등록수,하이브리드차_순증
0,2020,1,강원,승용,계,2426,3,4.741667,399.361111,227.888889,...,47.750000,262.0,157.75,419.75,76897048,186980,20608,336,2052532,29688
1,2020,1,강원,승용,비사업용,2300,3,4.741667,399.361111,227.888889,...,47.750000,262.0,157.75,419.75,76897048,186980,20608,336,2052532,29688
2,2020,1,강원,승용,사업용,126,0,4.741667,399.361111,227.888889,...,47.750000,262.0,157.75,419.75,76897048,186980,20608,336,2052532,29688
3,2020,1,강원,화물,계,2,0,2.725000,149.250000,202.500000,...,47.750000,262.0,157.75,419.75,14397108,26764,0,0,0,0
4,2020,1,강원,화물,비사업용,2,0,2.725000,149.250000,202.500000,...,47.750000,262.0,157.75,419.75,14397108,26764,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6475,2024,12,충북,승용,비사업용,16069,68,4.521298,408.810841,174.553654,...,294.833333,10491.0,1847.00,12338.00,87084480,107064,144132,4,8077036,204848
6476,2024,12,충북,승용,사업용,1831,-30,4.521298,408.810841,174.553654,...,294.833333,10491.0,1847.00,12338.00,87084480,107064,144132,4,8077036,204848
6477,2024,12,충북,화물,계,7219,73,3.057143,208.785714,158.138462,...,294.833333,10491.0,1847.00,12338.00,14866972,-4256,152,12,11764,1072
6478,2024,12,충북,화물,비사업용,6253,55,3.057143,208.785714,158.138462,...,294.833333,10491.0,1847.00,12338.00,14866972,-4256,152,12,11764,1072
6479,2024,12,충북,화물,사업용,966,18,3.057143,208.785714,158.138462,...,294.833333,10491.0,1847.00,12338.00,14866972,-4256,152,12,11764,1072

In [12]:

df_temperature_rain = df_temperature_rain.rename(columns={
    'year': '년도',
    'month': '월',
    '시도':'지역'
})
df_merged_4 = merge_on_keys(df_merged_3,df_temperature_rain ,['년도', '월', '지역'])
df_merged_4

,년도,월,지역,차종,용도,전기차 등록수,전기차 순증가량,연료소비효율,1회충전주행거리,배터리충전용량,...,차량전체_등록수,차량전체_순증가량,수소차_등록수,수소차_순증가량,하이브리드차_등록수,하이브리드차_순증,평균기온(°C),평균최고기온(°C),평균최저기온(°C),월합강수량(00~24h만)(mm)
0,2020,1,강원,승용,계,2426,3,4.741667,399.361111,227.888889,...,76897048,186980,20608,336,2052532,29688,0.728571,5.821429,-3.328571,85.335714
1,2020,1,강원,승용,비사업용,2300,3,4.741667,399.361111,227.888889,...,76897048,186980,20608,336,2052532,29688,0.728571,5.821429,-3.328571,85.335714
2,2020,1,강원,승용,사업용,126,0,4.741667,399.361111,227.888889,...,76897048,186980,20608,336,2052532,29688,0.728571,5.821429,-3.328571,85.335714
3,2020,1,강원,화물,계,2,0,2.725000,149.250000,202.500000,...,14397108,26764,0,0,0,0,0.728571,5.821429,-3.328571,85.335714
4,2020,1,강원,화물,비사업용,2,0,2.725000,149.250000,202.500000,...,14397108,26764,0,0,0,0,0.728571,5.821429,-3.328571,85.335714
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6475,2024,12,충북,승용,비사업용,16069,68,4.521298,408.810841,174.553654,...,87084480,107064,144132,4,8077036,204848,0.040000,4.900000,-4.600000,6.040000
6476,2024,12,충북,승용,사업용,1831,-30,4.521298,408.810841,174.553654,...,87084480,107064,144132,4,8077036,204848,0.040000,4.900000,-4.600000,6.040000
6477,2024,12,충북,화물,계,7219,73,3.057143,208.785714,158.138462,...,14866972,-4256,152,12,11764,1072,0.040000,4.900000,-4.600000,6.040000
6478,2024,12,충북,화물,비사업용,6253,55,3.057143,208.785714,158.138462,...,14866972,-4256,152,12,11764,1072,0.040000,4.900000,-4.600000,6.040000
6479,2024,12,충북,화물,사업용,966,18,3.057143,208.785714,158.138462,...,14866972,-4256,152,12,11764,1072,0.040000,4.900000,-4.600000,6.040000

In [13]:
df_dust = df_dust.rename(columns={
    '년': '년도'
})
df_merged_5 = merge_on_keys(df_merged_4,df_dust ,['년도', '월', '지역'])
df_merged_5

,년도,월,지역,차종,용도,전기차 등록수,전기차 순증가량,연료소비효율,1회충전주행거리,배터리충전용량,...,수소차_등록수,수소차_순증가량,하이브리드차_등록수,하이브리드차_순증,평균기온(°C),평균최고기온(°C),평균최저기온(°C),월합강수량(00~24h만)(mm),미세먼지2.5 수치,미세먼지10 수치
0,2020,1,강원,승용,계,2426,3,4.741667,399.361111,227.888889,...,20608,336,2052532,29688,0.728571,5.821429,-3.328571,85.335714,24.0,34.0
1,2020,1,강원,승용,비사업용,2300,3,4.741667,399.361111,227.888889,...,20608,336,2052532,29688,0.728571,5.821429,-3.328571,85.335714,24.0,34.0
2,2020,1,강원,승용,사업용,126,0,4.741667,399.361111,227.888889,...,20608,336,2052532,29688,0.728571,5.821429,-3.328571,85.335714,24.0,34.0
3,2020,1,강원,화물,계,2,0,2.725000,149.250000,202.500000,...,0,0,0,0,0.728571,5.821429,-3.328571,85.335714,24.0,34.0
4,2020,1,강원,화물,비사업용,2,0,2.725000,149.250000,202.500000,...,0,0,0,0,0.728571,5.821429,-3.328571,85.335714,24.0,34.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6475,2024,12,충북,승용,비사업용,16069,68,4.521298,408.810841,174.553654,...,144132,4,8077036,204848,0.040000,4.900000,-4.600000,6.040000,20.0,33.0
6476,2024,12,충북,승용,사업용,1831,-30,4.521298,408.810841,174.553654,...,144132,4,8077036,204848,0.040000,4.900000,-4.600000,6.040000,20.0,33.0
6477,2024,12,충북,화물,계,7219,73,3.057143,208.785714,158.138462,...,152,12,11764,1072,0.040000,4.900000,-4.600000,6.040000,20.0,33.0
6478,2024,12,충북,화물,비사업용,6253,55,3.057143,208.785714,158.138462,...,152,12,11764,1072,0.040000,4.900000,-4.600000,6.040000,20.0,33.0
6479,2024,12,충북,화물,사업용,966,18,3.057143,208.785714,158.138462,...,152,12,11764,1072,0.040000,4.900000,-4.600000,6.040000,20.0,33.0

---------------------------------여기 까지---------------------------------

In [14]:
df_merged_6 = merge_on_keys(df_merged_5,df_cpi_unemp_rate,['년도', '월', '지역'])
df_merged_6

,년도,월,지역,차종,용도,전기차 등록수,전기차 순증가량,연료소비효율,1회충전주행거리,배터리충전용량,...,하이브리드차_순증,평균기온(°C),평균최고기온(°C),평균최저기온(°C),월합강수량(00~24h만)(mm),미세먼지2.5 수치,미세먼지10 수치,cpi,실업률,평균기준금리
0,2020,1,강원,승용,계,2426,3,4.741667,399.361111,227.888889,...,29688,0.728571,5.821429,-3.328571,85.335714,24.0,34.0,100.39,5.1,1.25
1,2020,1,강원,승용,비사업용,2300,3,4.741667,399.361111,227.888889,...,29688,0.728571,5.821429,-3.328571,85.335714,24.0,34.0,100.39,5.1,1.25
2,2020,1,강원,승용,사업용,126,0,4.741667,399.361111,227.888889,...,29688,0.728571,5.821429,-3.328571,85.335714,24.0,34.0,100.39,5.1,1.25
3,2020,1,강원,화물,계,2,0,2.725000,149.250000,202.500000,...,0,0.728571,5.821429,-3.328571,85.335714,24.0,34.0,100.39,5.1,1.25
4,2020,1,강원,화물,비사업용,2,0,2.725000,149.250000,202.500000,...,0,0.728571,5.821429,-3.328571,85.335714,24.0,34.0,100.39,5.1,1.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6475,2024,12,충북,승용,비사업용,16069,68,4.521298,408.810841,174.553654,...,204848,0.040000,4.900000,-4.600000,6.040000,20.0,33.0,115.50,2.3,3.00
6476,2024,12,충북,승용,사업용,1831,-30,4.521298,408.810841,174.553654,...,204848,0.040000,4.900000,-4.600000,6.040000,20.0,33.0,115.50,2.3,3.00
6477,2024,12,충북,화물,계,7219,73,3.057143,208.785714,158.138462,...,1072,0.040000,4.900000,-4.600000,6.040000,20.0,33.0,115.50,2.3,3.00
6478,2024,12,충북,화물,비사업용,6253,55,3.057143,208.785714,158.138462,...,1072,0.040000,4.900000,-4.600000,6.040000,20.0,33.0,115.50,2.3,3.00
6479,2024,12,충북,화물,사업용,966,18,3.057143,208.785714,158.138462,...,1072,0.040000,4.900000,-4.600000,6.040000,20.0,33.0,115.50,2.3,3.00

In [15]:
df_income = df_income_total.copy()
df_income

,부채보유 여부별,지역별,시점,가구분포 (%),가구원수 (명),가구주 연령 (세),경상소득(전년도) (만원),자산 (만원),부채 (만원),순자산액 (만원)
0,전체,전국,2020,100.0,2.6,56.1,5966,44543,8256,36287
1,전체,전국,2021,100.0,2.6,55.6,6180,50253,8801,41452
2,전체,전국,2022,100.0,2.5,55.2,6470,54772,9170,45602
3,전체,전국,2023,100.0,2.4,55.0,6762,52727,9186,43540
4,전체,전국,2024,100.0,2.4,54.9,7185,54022,9128,44894
...,...,...,...,...,...,...,...,...,...,...
85,전체,제주특별자치도,2020,1.3,2.7,56.8,5571,52147,7869,44278
86,전체,제주특별자치도,2021,1.3,2.8,56.6,5964,56760,7764,48995
87,전체,제주특별자치도,2022,1.3,2.7,55.9,6289,57466,7227,50238
88,전체,제주특별자치도,2023,1.3,2.6,56.1,6460,51170,5776,45394
89,전체,제주특별자치도,2024,1.3,2.5,55.9,6775,52401,7593,44808

In [16]:

df_income = df_income.rename(columns={
    '지역별': '지역',
    '시점':   '년도'
})

df_income['년도'] = df_income['년도'].astype(int)
df_income['지역'] = df_income['지역'].astype(str).str.strip()

# 3) 지역명 풀네임 → 약어 매핑 (정규식 없이)
region_map = {
    '전국': '전국',
    '서울특별시': '서울',
    '부산광역시': '부산',
    '대구광역시': '대구',
    '인천광역시': '인천',
    '광주광역시': '광주',
    '대전광역시': '대전',
    '울산광역시': '울산',
    '세종특별자치시': '세종',
    '경기도': '경기',
    '강원특별자치도': '강원',
    '충청북도': '충북',
    '충청남도': '충남',
    '전라북도': '전북',
    '전라남도': '전남',
    '경상북도': '경북',
    '경상남도': '경남',
    '제주특별자치도': '제주'
}
df_income['지역'] = df_income['지역'].replace(region_map)

# 4) 필요한 컬럼만 선택 및 컬럼명 간소화
df_income_sel = df_income[[
    '년도', '지역',
    '경상소득(전년도) (만원)'
]].rename(columns={
    '경상소득(전년도) (만원)': '경상소득',
})

# 5) df_merged_all에 병합
df_merged_7 = pd.merge(
    df_merged_6,
    df_income_sel,
    on=['년도', '지역'],
    how='left'
)
df_merged_7

,년도,월,지역,차종,용도,전기차 등록수,전기차 순증가량,연료소비효율,1회충전주행거리,배터리충전용량,...,평균기온(°C),평균최고기온(°C),평균최저기온(°C),월합강수량(00~24h만)(mm),미세먼지2.5 수치,미세먼지10 수치,cpi,실업률,평균기준금리,경상소득
0,2020,1,강원,승용,계,2426,3,4.741667,399.361111,227.888889,...,0.728571,5.821429,-3.328571,85.335714,24.0,34.0,100.39,5.1,1.25,4962
1,2020,1,강원,승용,비사업용,2300,3,4.741667,399.361111,227.888889,...,0.728571,5.821429,-3.328571,85.335714,24.0,34.0,100.39,5.1,1.25,4962
2,2020,1,강원,승용,사업용,126,0,4.741667,399.361111,227.888889,...,0.728571,5.821429,-3.328571,85.335714,24.0,34.0,100.39,5.1,1.25,4962
3,2020,1,강원,화물,계,2,0,2.725000,149.250000,202.500000,...,0.728571,5.821429,-3.328571,85.335714,24.0,34.0,100.39,5.1,1.25,4962
4,2020,1,강원,화물,비사업용,2,0,2.725000,149.250000,202.500000,...,0.728571,5.821429,-3.328571,85.335714,24.0,34.0,100.39,5.1,1.25,4962
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6475,2024,12,충북,승용,비사업용,16069,68,4.521298,408.810841,174.553654,...,0.040000,4.900000,-4.600000,6.040000,20.0,33.0,115.50,2.3,3.00,6939
6476,2024,12,충북,승용,사업용,1831,-30,4.521298,408.810841,174.553654,...,0.040000,4.900000,-4.600000,6.040000,20.0,33.0,115.50,2.3,3.00,6939
6477,2024,12,충북,화물,계,7219,73,3.057143,208.785714,158.138462,...,0.040000,4.900000,-4.600000,6.040000,20.0,33.0,115.50,2.3,3.00,6939
6478,2024,12,충북,화물,비사업용,6253,55,3.057143,208.785714,158.138462,...,0.040000,4.900000,-4.600000,6.040000,20.0,33.0,115.50,2.3,3.00,6939
6479,2024,12,충북,화물,사업용,966,18,3.057143,208.785714,158.138462,...,0.040000,4.900000,-4.600000,6.040000,20.0,33.0,115.50,2.3,3.00,6939

In [17]:
df_merged_8 = pd.merge(
    df_merged_7,
    df_subsidy,
    on=['년도', '지역'],
    how='left'
)
df_merged_8

,년도,월,지역,차종,용도,전기차 등록수,전기차 순증가량,연료소비효율,1회충전주행거리,배터리충전용량,...,미세먼지2.5 수치,미세먼지10 수치,cpi,실업률,평균기준금리,경상소득,보조금/승용(만원),화물/초소형(만원),화물/경형(만원),화물/소형(만원)
0,2020,1,강원,승용,계,2426,3,4.741667,399.361111,227.888889,...,24.0,34.0,100.39,5.1,1.25,4962,1446.111111,1017.000000,1450.000000,2707.647059
1,2020,1,강원,승용,비사업용,2300,3,4.741667,399.361111,227.888889,...,24.0,34.0,100.39,5.1,1.25,4962,1446.111111,1017.000000,1450.000000,2707.647059
2,2020,1,강원,승용,사업용,126,0,4.741667,399.361111,227.888889,...,24.0,34.0,100.39,5.1,1.25,4962,1446.111111,1017.000000,1450.000000,2707.647059
3,2020,1,강원,화물,계,2,0,2.725000,149.250000,202.500000,...,24.0,34.0,100.39,5.1,1.25,4962,1446.111111,1017.000000,1450.000000,2707.647059
4,2020,1,강원,화물,비사업용,2,0,2.725000,149.250000,202.500000,...,24.0,34.0,100.39,5.1,1.25,4962,1446.111111,1017.000000,1450.000000,2707.647059
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6475,2024,12,충북,승용,비사업용,16069,68,4.521298,408.810841,174.553654,...,20.0,33.0,115.50,2.3,3.00,6939,1307.090909,879.090909,1187.727273,2279.000000
6476,2024,12,충북,승용,사업용,1831,-30,4.521298,408.810841,174.553654,...,20.0,33.0,115.50,2.3,3.00,6939,1307.090909,879.090909,1187.727273,2279.000000
6477,2024,12,충북,화물,계,7219,73,3.057143,208.785714,158.138462,...,20.0,33.0,115.50,2.3,3.00,6939,1307.090909,879.090909,1187.727273,2279.000000
6478,2024,12,충북,화물,비사업용,6253,55,3.057143,208.785714,158.138462,...,20.0,33.0,115.50,2.3,3.00,6939,1307.090909,879.090909,1187.727273,2279.000000
6479,2024,12,충북,화물,사업용,966,18,3.057143,208.785714,158.138462,...,20.0,33.0,115.50,2.3,3.00,6939,1307.090909,879.090909,1187.727273,2279.000000

In [ ]:
df_merged_8.to_csv('./03_processed_data/data.csv', index=False, encoding='utf-8-sig')