In [267]:
import pandas as pd

In [268]:
df_charger =            pd.read_csv('./02_interim_data/region_monthly_chargers.csv', encoding='utf-8-sig')
df_range_efficiency =   pd.read_csv('./02_interim_data/ev_data_monthly_average.csv', encoding='utf-8-sig')
df_ev =                 pd.read_csv('./02_interim_data/vechicle_ev_data.csv', encoding='utf-8-sig')
df_total =              pd.read_csv('./02_interim_data/vechicle_total_data.csv', encoding='utf-8-sig')
df_hydrogen =           pd.read_csv('./02_interim_data/vechicle_hydrogen_data.csv', encoding='utf-8-sig')
df_hyb =                pd.read_csv('./02_interim_data/vechicle_hyb_data.csv', encoding='utf-8-sig')
df_temperature_rain =   pd.read_csv('./02_interim_data/temperature_rain_data.csv', encoding='utf-8-sig')
df_dust =               pd.read_csv('./02_interim_data/dust_data.csv', encoding='utf-8-sig') 
df_unemployment =       pd.read_csv('./01_raw_data/행정구역_시도__연령별_실업률_20250806081739.csv', encoding='cp949')
df_rate =               pd.read_csv('./01_raw_data/EV_project/경제 지표/기준금리.csv', encoding='cp949')
df_cpi =                pd.read_csv('./01_raw_data/지출목적별_소비자물가지수_품목포함__2020100__20250806082114.csv', encoding='cp949') 
df_income_total =       pd.read_csv('./01_raw_data/EV_project/경제 지표/지역별_자산__부채__소득_현황_20250806100101.csv', encoding='cp949')
df_subsidy =            pd.read_csv('./01_raw_data/전기차 보조금 최종.csv', encoding='cp949')

In [269]:
df = df_ev.copy()
df = df.drop(columns=['연료'])
df.rename(columns={'등록수': '전기차 등록수','순증가량':'전기차 순증가량'}, inplace=True)
df

         년도   월  지역  차종    용도  전기차 등록수  전기차 순증가량
0      2020   1  강원  소계     계     2448         3
1      2020   1  강원  소계  비사업용     2303         3
2      2020   1  강원  소계   사업용      145         0
3      2020   1  강원  승용     계     2426         3
4      2020   1  강원  승용  비사업용     2300         3
...     ...  ..  ..  ..   ...      ...       ...
16195  2024  12  충북  특수  비사업용       16         2
16196  2024  12  충북  특수   사업용        0         0
16197  2024  12  충북  화물     계     7219        73
16198  2024  12  충북  화물  비사업용     6253        55
16199  2024  12  충북  화물   사업용      966        18

[16200 rows x 7 columns]

In [270]:
exclude_types = ['특수', '승합', '소계']
df_filtered = df[~df['차종'].isin(exclude_types)].copy()
df_filtered

         년도   월  지역  차종    용도  전기차 등록수  전기차 순증가량
3      2020   1  강원  승용     계     2426         3
4      2020   1  강원  승용  비사업용     2300         3
5      2020   1  강원  승용   사업용      126         0
12     2020   1  강원  화물     계        2         0
13     2020   1  강원  화물  비사업용        2         0
...     ...  ..  ..  ..   ...      ...       ...
16189  2024  12  충북  승용  비사업용    16069        68
16190  2024  12  충북  승용   사업용     1831       -30
16197  2024  12  충북  화물     계     7219        73
16198  2024  12  충북  화물  비사업용     6253        55
16199  2024  12  충북  화물   사업용      966        18

[6480 rows x 7 columns]

In [271]:
def merge_on_keys(df_target, df_other, on_cols):
    return pd.merge(
        df_target,
        df_other,
        on=on_cols,
        how='left'
    )

In [272]:
df_range_efficiency

     year  month  차종    연료소비효율    1회충전주행거리     배터리충전용량
0    2018      1  소계       NaN         NaN         NaN
1    2018      2  소계       NaN         NaN         NaN
2    2018      3  소계       NaN         NaN         NaN
3    2018      4  소계  4.750000  377.000000  220.000000
4    2018      5  소계  4.750000  377.000000  220.000000
..    ...    ...  ..       ...         ...         ...
247  2024      8  승용  4.596659  400.574033  187.493669
248  2024      9  승용  4.517480  410.580492  185.733572
249  2024     10  승용  4.516022  414.465980  182.434982
250  2024     11  승용  4.554270  407.257480  173.509910
251  2024     12  승용  4.521298  408.810841  174.553654

[252 rows x 6 columns]

In [273]:
df_range_efficiency = df_range_efficiency.rename(columns={
    'year': '년도',
    'month': '월',
})

# df[['년도', '월']]  = df[['년도', '월']].astype(int)
# df_range_efficiency[['년도', '월']] = df_range_efficiency[['년도', '월']].astype(int)
# df['차종'] = df['차종'].astype(str)
# df_range_efficiency['차종'] = df_range_efficiency['차종'].astype(str)

df_merged_1 = merge_on_keys(df_filtered, df_range_efficiency, ['년도', '월', '차종'])


df_merged_1

,년도,월,지역,차종,용도,전기차 등록수,전기차 순증가량,연료소비효율,1회충전주행거리,배터리충전용량
0,2020,1,강원,승용,계,2426,3,4.741667,399.361111,227.888889
1,2020,1,강원,승용,비사업용,2300,3,4.741667,399.361111,227.888889
2,2020,1,강원,승용,사업용,126,0,4.741667,399.361111,227.888889
3,2020,1,강원,화물,계,2,0,2.725000,149.250000,202.500000
4,2020,1,강원,화물,비사업용,2,0,2.725000,149.250000,202.500000
...,...,...,...,...,...,...,...,...,...,...
6475,2024,12,충북,승용,비사업용,16069,68,4.521298,408.810841,174.553654
6476,2024,12,충북,승용,사업용,1831,-30,4.521298,408.810841,174.553654
6477,2024,12,충북,화물,계,7219,73,3.057143,208.785714,158.138462
6478,2024,12,충북,화물,비사업용,6253,55,3.057143,208.785714,158.138462
6479,2024,12,충북,화물,사업용,966,18,3.057143,208.785714,158.138462

In [274]:
df_charger

,year,month,region,slow_chargers_new,fast_chargers_new,chargers_new,slow_chargers_cum,fast_chargers_cum,chargers_cum
0,2019,1,강원,18.833333,12.166667,31.000000,18.833333,12.166667,31.000000
1,2019,2,강원,18.833333,12.166667,31.000000,37.666667,24.333333,62.000000
2,2019,3,강원,18.833333,12.166667,31.000000,56.500000,36.500000,93.000000
3,2019,4,강원,18.833333,12.166667,31.000000,75.333333,48.666667,124.000000
4,2019,5,강원,18.833333,12.166667,31.000000,94.166667,60.833333,155.000000
...,...,...,...,...,...,...,...,...,...
1291,2024,8,충북,253.916667,40.916667,294.833333,9475.333333,1683.333333,11158.666667
1292,2024,9,충북,253.916667,40.916667,294.833333,9729.250000,1724.250000,11453.500000
1293,2024,10,충북,253.916667,40.916667,294.833333,9983.166667,1765.166667,11748.333333
1294,2024,11,충북,253.916667,40.916667,294.833333,10237.083333,1806.083333,12043.166667
1295,2024,12,충북,253.916667,40.916667,294.833333,10491.000000,1847.000000,12338.000000

In [275]:


df_charger = df_charger.rename(columns={
    'year': '년도',
    'month': '월',
    'region': '지역'
})
df_merged_2 = merge_on_keys(df_merged_1,df_charger,['년도', '월', '지역'])
df_merged_2

,년도,월,지역,차종,용도,전기차 등록수,전기차 순증가량,연료소비효율,1회충전주행거리,배터리충전용량,slow_chargers_new,fast_chargers_new,chargers_new,slow_chargers_cum,fast_chargers_cum,chargers_cum
0,2020,1,강원,승용,계,2426,3,4.741667,399.361111,227.888889,36.000000,11.750000,47.750000,262.0,157.75,419.75
1,2020,1,강원,승용,비사업용,2300,3,4.741667,399.361111,227.888889,36.000000,11.750000,47.750000,262.0,157.75,419.75
2,2020,1,강원,승용,사업용,126,0,4.741667,399.361111,227.888889,36.000000,11.750000,47.750000,262.0,157.75,419.75
3,2020,1,강원,화물,계,2,0,2.725000,149.250000,202.500000,36.000000,11.750000,47.750000,262.0,157.75,419.75
4,2020,1,강원,화물,비사업용,2,0,2.725000,149.250000,202.500000,36.000000,11.750000,47.750000,262.0,157.75,419.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6475,2024,12,충북,승용,비사업용,16069,68,4.521298,408.810841,174.553654,253.916667,40.916667,294.833333,10491.0,1847.00,12338.00
6476,2024,12,충북,승용,사업용,1831,-30,4.521298,408.810841,174.553654,253.916667,40.916667,294.833333,10491.0,1847.00,12338.00
6477,2024,12,충북,화물,계,7219,73,3.057143,208.785714,158.138462,253.916667,40.916667,294.833333,10491.0,1847.00,12338.00
6478,2024,12,충북,화물,비사업용,6253,55,3.057143,208.785714,158.138462,253.916667,40.916667,294.833333,10491.0,1847.00,12338.00
6479,2024,12,충북,화물,사업용,966,18,3.057143,208.785714,158.138462,253.916667,40.916667,294.833333,10491.0,1847.00,12338.00

In [276]:
df_hydrogen

         년도   월  지역  연료  차종    용도     등록수  순증가량
0      2020   1  강원  총계  소계     계  784808  2108
1      2020   1  강원  총계  소계  비사업용  759447  2084
2      2020   1  강원  총계  소계   사업용   25361    24
3      2020   1  강원  총계  승용     계  596080  1703
4      2020   1  강원  총계  승용  비사업용  584095  1691
...     ...  ..  ..  ..  ..   ...     ...   ...
16195  2024  12  충북  총계  특수  비사업용    3680    29
16196  2024  12  충북  총계  특수   사업용    2932    13
16197  2024  12  충북  총계  화물     계  166638    35
16198  2024  12  충북  총계  화물  비사업용  150399    43
16199  2024  12  충북  총계  화물   사업용   16239    -8

[16200 rows x 8 columns]

In [277]:
if '연료' in df_hydrogen.columns:
    df_hydrogen = df_hydrogen.drop(columns='연료')
df_hydrogen = df_hydrogen.rename(columns={
    '등록수': '수소차_등록수',
    '순증가량': '수소차_순증가량'
})
df_merged_3 = merge_on_keys(df_merged_2,df_hydrogen,['년도', '월', '지역','용도','차종'])
df_merged_3

,년도,월,지역,차종,용도,전기차 등록수,전기차 순증가량,연료소비효율,1회충전주행거리,배터리충전용량,slow_chargers_new,fast_chargers_new,chargers_new,slow_chargers_cum,fast_chargers_cum,chargers_cum,수소차_등록수,수소차_순증가량
0,2020,1,강원,승용,계,2426,3,4.741667,399.361111,227.888889,36.000000,11.750000,47.750000,262.0,157.75,419.75,596080,1703
1,2020,1,강원,승용,비사업용,2300,3,4.741667,399.361111,227.888889,36.000000,11.750000,47.750000,262.0,157.75,419.75,584095,1691
2,2020,1,강원,승용,사업용,126,0,4.741667,399.361111,227.888889,36.000000,11.750000,47.750000,262.0,157.75,419.75,11985,12
3,2020,1,강원,화물,계,2,0,2.725000,149.250000,202.500000,36.000000,11.750000,47.750000,262.0,157.75,419.75,156259,397
4,2020,1,강원,화물,비사업용,2,0,2.725000,149.250000,202.500000,36.000000,11.750000,47.750000,262.0,157.75,419.75,147807,383
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6475,2024,12,충북,승용,비사업용,16069,68,4.521298,408.810841,174.553654,253.916667,40.916667,294.833333,10491.0,1847.00,12338.00,733770,990
6476,2024,12,충북,승용,사업용,1831,-30,4.521298,408.810841,174.553654,253.916667,40.916667,294.833333,10491.0,1847.00,12338.00,16315,-241
6477,2024,12,충북,화물,계,7219,73,3.057143,208.785714,158.138462,253.916667,40.916667,294.833333,10491.0,1847.00,12338.00,166638,35
6478,2024,12,충북,화물,비사업용,6253,55,3.057143,208.785714,158.138462,253.916667,40.916667,294.833333,10491.0,1847.00,12338.00,150399,43
6479,2024,12,충북,화물,사업용,966,18,3.057143,208.785714,158.138462,253.916667,40.916667,294.833333,10491.0,1847.00,12338.00,16239,-8

In [278]:
if '연료' in df_hyb.columns:
    df_hyb = df_hyb.drop(columns='연료')
df_hyb = df_hyb.rename(columns={
    '등록수': '하이브리드_등록수',
    '순증가량': '하이브리드_순증가량'
})
df_merged_4 = merge_on_keys(df_merged_3,df_hyb ,['년도', '월', '지역','용도','차종'])
df_merged_4

,년도,월,지역,차종,용도,전기차 등록수,전기차 순증가량,연료소비효율,1회충전주행거리,배터리충전용량,slow_chargers_new,fast_chargers_new,chargers_new,slow_chargers_cum,fast_chargers_cum,chargers_cum,수소차_등록수,수소차_순증가량,하이브리드_등록수,하이브리드_순증가량
0,2020,1,강원,승용,계,2426,3,4.741667,399.361111,227.888889,36.000000,11.750000,47.750000,262.0,157.75,419.75,596080,1703,14145,229
1,2020,1,강원,승용,비사업용,2300,3,4.741667,399.361111,227.888889,36.000000,11.750000,47.750000,262.0,157.75,419.75,584095,1691,14098,225
2,2020,1,강원,승용,사업용,126,0,4.741667,399.361111,227.888889,36.000000,11.750000,47.750000,262.0,157.75,419.75,11985,12,47,4
3,2020,1,강원,화물,계,2,0,2.725000,149.250000,202.500000,36.000000,11.750000,47.750000,262.0,157.75,419.75,156259,397,0,0
4,2020,1,강원,화물,비사업용,2,0,2.725000,149.250000,202.500000,36.000000,11.750000,47.750000,262.0,157.75,419.75,147807,383,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6475,2024,12,충북,승용,비사업용,16069,68,4.521298,408.810841,174.553654,253.916667,40.916667,294.833333,10491.0,1847.00,12338.00,733770,990,54627,1306
6476,2024,12,충북,승용,사업용,1831,-30,4.521298,408.810841,174.553654,253.916667,40.916667,294.833333,10491.0,1847.00,12338.00,16315,-241,1133,13
6477,2024,12,충북,화물,계,7219,73,3.057143,208.785714,158.138462,253.916667,40.916667,294.833333,10491.0,1847.00,12338.00,166638,35,84,5
6478,2024,12,충북,화물,비사업용,6253,55,3.057143,208.785714,158.138462,253.916667,40.916667,294.833333,10491.0,1847.00,12338.00,150399,43,83,4
6479,2024,12,충북,화물,사업용,966,18,3.057143,208.785714,158.138462,253.916667,40.916667,294.833333,10491.0,1847.00,12338.00,16239,-8,1,1

In [279]:
if '연료' in df_total.columns:
    df_total = df_total.drop(columns='연료')
df_total = df_total.rename(columns={
    '등록수': '전체_등록수',
    '순증가량': '전체_순증가량'
})
df_merged_5 = merge_on_keys(df_merged_4,df_total ,['년도', '월', '지역','용도','차종'])
df_merged_5

,년도,월,지역,차종,용도,전기차 등록수,전기차 순증가량,연료소비효율,1회충전주행거리,배터리충전용량,...,chargers_new,slow_chargers_cum,fast_chargers_cum,chargers_cum,수소차_등록수,수소차_순증가량,하이브리드_등록수,하이브리드_순증가량,전체_등록수,전체_순증가량
0,2020,1,강원,승용,계,2426,3,4.741667,399.361111,227.888889,...,47.750000,262.0,157.75,419.75,596080,1703,14145,229,596080,1703
1,2020,1,강원,승용,비사업용,2300,3,4.741667,399.361111,227.888889,...,47.750000,262.0,157.75,419.75,584095,1691,14098,225,584095,1691
2,2020,1,강원,승용,사업용,126,0,4.741667,399.361111,227.888889,...,47.750000,262.0,157.75,419.75,11985,12,47,4,11985,12
3,2020,1,강원,화물,계,2,0,2.725000,149.250000,202.500000,...,47.750000,262.0,157.75,419.75,156259,397,0,0,156259,397
4,2020,1,강원,화물,비사업용,2,0,2.725000,149.250000,202.500000,...,47.750000,262.0,157.75,419.75,147807,383,0,0,147807,383
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6475,2024,12,충북,승용,비사업용,16069,68,4.521298,408.810841,174.553654,...,294.833333,10491.0,1847.00,12338.00,733770,990,54627,1306,733770,990
6476,2024,12,충북,승용,사업용,1831,-30,4.521298,408.810841,174.553654,...,294.833333,10491.0,1847.00,12338.00,16315,-241,1133,13,16315,-241
6477,2024,12,충북,화물,계,7219,73,3.057143,208.785714,158.138462,...,294.833333,10491.0,1847.00,12338.00,166638,35,84,5,166638,35
6478,2024,12,충북,화물,비사업용,6253,55,3.057143,208.785714,158.138462,...,294.833333,10491.0,1847.00,12338.00,150399,43,83,4,150399,43
6479,2024,12,충북,화물,사업용,966,18,3.057143,208.785714,158.138462,...,294.833333,10491.0,1847.00,12338.00,16239,-8,1,1,16239,-8

In [280]:

df_temperature_rain = df_temperature_rain.rename(columns={
    'year': '년도',
    'month': '월',
    '시도':'지역'
})
df_merged_6 = merge_on_keys(df_merged_5,df_temperature_rain ,['년도', '월', '지역'])
df_merged_6

,년도,월,지역,차종,용도,전기차 등록수,전기차 순증가량,연료소비효율,1회충전주행거리,배터리충전용량,...,수소차_등록수,수소차_순증가량,하이브리드_등록수,하이브리드_순증가량,전체_등록수,전체_순증가량,평균기온(°C),평균최고기온(°C),평균최저기온(°C),월합강수량(00~24h만)(mm)
0,2020,1,강원,승용,계,2426,3,4.741667,399.361111,227.888889,...,596080,1703,14145,229,596080,1703,0.728571,5.821429,-3.328571,85.335714
1,2020,1,강원,승용,비사업용,2300,3,4.741667,399.361111,227.888889,...,584095,1691,14098,225,584095,1691,0.728571,5.821429,-3.328571,85.335714
2,2020,1,강원,승용,사업용,126,0,4.741667,399.361111,227.888889,...,11985,12,47,4,11985,12,0.728571,5.821429,-3.328571,85.335714
3,2020,1,강원,화물,계,2,0,2.725000,149.250000,202.500000,...,156259,397,0,0,156259,397,0.728571,5.821429,-3.328571,85.335714
4,2020,1,강원,화물,비사업용,2,0,2.725000,149.250000,202.500000,...,147807,383,0,0,147807,383,0.728571,5.821429,-3.328571,85.335714
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6475,2024,12,충북,승용,비사업용,16069,68,4.521298,408.810841,174.553654,...,733770,990,54627,1306,733770,990,0.040000,4.900000,-4.600000,6.040000
6476,2024,12,충북,승용,사업용,1831,-30,4.521298,408.810841,174.553654,...,16315,-241,1133,13,16315,-241,0.040000,4.900000,-4.600000,6.040000
6477,2024,12,충북,화물,계,7219,73,3.057143,208.785714,158.138462,...,166638,35,84,5,166638,35,0.040000,4.900000,-4.600000,6.040000
6478,2024,12,충북,화물,비사업용,6253,55,3.057143,208.785714,158.138462,...,150399,43,83,4,150399,43,0.040000,4.900000,-4.600000,6.040000
6479,2024,12,충북,화물,사업용,966,18,3.057143,208.785714,158.138462,...,16239,-8,1,1,16239,-8,0.040000,4.900000,-4.600000,6.040000

In [281]:
df_dust = df_dust.rename(columns={
    '년': '년도'
})
df_merged_7 = merge_on_keys(df_merged_6,df_dust ,['년도', '월', '지역'])
df_merged_7

,년도,월,지역,차종,용도,전기차 등록수,전기차 순증가량,연료소비효율,1회충전주행거리,배터리충전용량,...,하이브리드_등록수,하이브리드_순증가량,전체_등록수,전체_순증가량,평균기온(°C),평균최고기온(°C),평균최저기온(°C),월합강수량(00~24h만)(mm),미세먼지2.5 수치,미세먼지10 수치
0,2020,1,강원,승용,계,2426,3,4.741667,399.361111,227.888889,...,14145,229,596080,1703,0.728571,5.821429,-3.328571,85.335714,24.0,34.0
1,2020,1,강원,승용,비사업용,2300,3,4.741667,399.361111,227.888889,...,14098,225,584095,1691,0.728571,5.821429,-3.328571,85.335714,24.0,34.0
2,2020,1,강원,승용,사업용,126,0,4.741667,399.361111,227.888889,...,47,4,11985,12,0.728571,5.821429,-3.328571,85.335714,24.0,34.0
3,2020,1,강원,화물,계,2,0,2.725000,149.250000,202.500000,...,0,0,156259,397,0.728571,5.821429,-3.328571,85.335714,24.0,34.0
4,2020,1,강원,화물,비사업용,2,0,2.725000,149.250000,202.500000,...,0,0,147807,383,0.728571,5.821429,-3.328571,85.335714,24.0,34.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6475,2024,12,충북,승용,비사업용,16069,68,4.521298,408.810841,174.553654,...,54627,1306,733770,990,0.040000,4.900000,-4.600000,6.040000,20.0,33.0
6476,2024,12,충북,승용,사업용,1831,-30,4.521298,408.810841,174.553654,...,1133,13,16315,-241,0.040000,4.900000,-4.600000,6.040000,20.0,33.0
6477,2024,12,충북,화물,계,7219,73,3.057143,208.785714,158.138462,...,84,5,166638,35,0.040000,4.900000,-4.600000,6.040000,20.0,33.0
6478,2024,12,충북,화물,비사업용,6253,55,3.057143,208.785714,158.138462,...,83,4,150399,43,0.040000,4.900000,-4.600000,6.040000,20.0,33.0
6479,2024,12,충북,화물,사업용,966,18,3.057143,208.785714,158.138462,...,1,1,16239,-8,0.040000,4.900000,-4.600000,6.040000,20.0,33.0

In [282]:
tmp = df_cpi['시점'].astype(str).str.split('.', expand=True)
df_cpi['년도'] = tmp[0].astype(int)
df_cpi['월'] = tmp[1].apply(lambda m: 10 if m == '1' else int(m))

df_cpi = df_cpi.rename(columns={
    '시도별': '지역',
    '데이터': 'cpi'
})
region_map = {
    '전국': '전국',
    '서울특별시': '서울',
    '부산광역시': '부산',
    '대구광역시': '대구',
    '인천광역시': '인천',
    '광주광역시': '광주',
    '대전광역시': '대전',
    '울산광역시': '울산',
    '세종특별자치시': '세종',
    '경기도': '경기',
    '강원특별자치도': '강원',
    '충청북도': '충북',
    '충청남도': '충남',
    '전라북도': '전북',
    '전라남도': '전남',
    '경상북도': '경북',
    '경상남도': '경남',
    '제주특별자치도': '제주'
}
df_cpi['지역'] = df_cpi['지역'].replace(region_map)

df_cpi_sel = df_cpi[['년도','월','지역','cpi']]
df_cpi_sel

        년도   월  지역     cpi
0     2020   1  전국  100.09
1     2020   1  서울   99.80
2     2020   1  부산  100.06
3     2020   1  대구  100.10
4     2020   1  인천   99.94
...    ...  ..  ..     ...
1075  2024  12  전북  115.07
1076  2024  12  전남  115.58
1077  2024  12  경북  115.46
1078  2024  12  경남  115.00
1079  2024  12  제주  114.37

[1080 rows x 4 columns]

---------------------------------여기 까지---------------------------------

In [283]:
df_unemployment

     시도별        시점 연령계층별  데이터
0      계  2020.1/4     계  4.2
1      계  2020.2/4     계  4.4
2      계  2020.3/4     계  3.6
3      계  2020.4/4     계  3.7
4      계  2021.1/4     계  5.0
..   ...       ...   ...  ...
355  제주도  2023.4/4     계  1.4
356  제주도  2024.1/4     계  2.6
357  제주도  2024.2/4     계  2.3
358  제주도  2024.3/4     계  1.9
359  제주도  2024.4/4     계  2.6

[360 rows x 4 columns]

In [ ]:
import pandas as pd

tmp = df_unemployment['시점'].astype(str).str.split('.', expand=True)
df_unemployment['년도'] = tmp[0].astype(int)
df_unemployment['분기'] = tmp[1].str.split('/', expand=True)[0].astype(int)


months_map = {1:[1,2,3], 2:[4,5,6], 3:[7,8,9], 4:[10,11,12]}
df_unemployment['월'] = df_unemployment['분기'].map(months_map)

df_unemployment = df_unemployment.explode('월').reset_index(drop=True)

df_unemployment = df_unemployment.drop(columns='분기')

df_unemployment = df_unemployment.rename(columns={
    '시도별': '지역',
    '데이터': '실업률'
})

region_map = {
    '전국': '전국','서울특별시': '서울','부산광역시': '부산',
    '대구광역시': '대구','인천광역시': '인천','광주광역시': '광주',
    '대전광역시': '대전','울산광역시': '울산','세종특별자치시': '세종',
    '경기도': '경기','강원특별자치도': '강원','충청북도': '충북','충청남도': '충남',
    '전라북도': '전북','전라남도': '전남','경상북도': '경북','경상남도': '경남',
    '제주도': '제주','계':'전국','강원도': '강원'
}
df_unemployment['지역'] = df_unemployment['지역'].replace(region_map)


unemp_cols = ['년도','월','지역','실업률']
df_unemp_sel = df_unemployment[unemp_cols]


df_merged_all = pd.merge(
    df_merged_all,
    df_unemp_sel,
    on=['년도','월','지역'],
    how='left'         # 기존 월별 종합 데이터 기준으로 실업률 붙이기
)
df_merged_all.columns = df_merged_all.columns.str.replace(r'_(?:x|y)$', '', regex=True)

df_merged_all

NameError: name 'df_merged_all' is not defined

In [ ]:
df_rate

    변경일자 Unnamed: 1  기준금리
0   2025    05월 29일  2.50
1   2025    02월 25일  2.75
2   2024    11월 28일  3.00
3   2024    10월 11일  3.25
4   2023    01월 13일  3.50
5   2022    11월 24일  3.25
6   2022    10월 12일  3.00
7   2022    08월 25일  2.50
8   2022    07월 13일  2.25
9   2022    05월 26일  1.75
10  2022    04월 14일  1.50
11  2022    01월 14일  1.25
12  2021    11월 25일  1.00
13  2021    08월 26일  0.75
14  2020    05월 28일  0.50
15  2020    03월 17일  0.75
16  2019    10월 16일  1.25
17  2019    07월 18일  1.50
18  2018    11월 30일  1.75
19  2017    11월 30일  1.50
20  2016    06월 09일  1.25
21  2015    06월 11일  1.50
22  2015    03월 12일  1.75
23  2014    10월 15일  2.00
24  2014    08월 14일  2.25
25  2013    05월 09일  2.50
26  2012    10월 11일  2.75
27  2012    07월 12일  3.00
28  2011    06월 10일  3.25
29  2011    03월 10일  3.00
30  2011    01월 13일  2.75
31  2010    11월 16일  2.50
32  2010    07월 09일  2.25
33  2009    02월 12일  2.00
34  2009    01월 09일  2.50
35  2008    12월 11일  3.00
36  2008    11월 07일  4.00
37  2008    10월 27일  4.25
38  2008    10월 09일  5.00
39  2008    08월 07일  5.25
40  2007    08월 09일  5.00
41  2007    07월 12일  4.75
42  2006    08월 10일  4.50
43  2006    06월 08일  4.25
44  2006    02월 09일  4.00
45  2005    12월 08일  3.75
46  2005    10월 11일  3.50
47  2004    11월 11일  3.25
48  2004    08월 12일  3.50
49  2003    07월 10일  3.75
50  2003    05월 13일  4.00
51  2002    05월 07일  4.25
52  2001    09월 19일  4.00
53  2001    08월 09일  4.50
54  2001    07월 05일  4.75
55  2001    02월 08일  5.00
56  2000    10월 05일  5.25
57  2000    02월 10일  5.00
58  1999    05월 06일  4.75

In [ ]:
# 1) '변경일자' + 'Unnamed: 1' 합쳐서 datetime으로 파싱


df_rate['date'] = pd.to_datetime(
    df_rate['변경일자'].astype(str) + ' ' + df_rate['Unnamed: 1'],
    format='%Y %m월 %d일'
)

# 2) 기준금리만 남기고 정렬
df_rate = df_rate[['date', '기준금리']].sort_values('date')

# 3) 일별로 확장 — 이전 값으로 채워넣기
daily_rate = (
    df_rate
    .set_index('date')
    .resample('D')
    .ffill()
    .reset_index()
)

# 4) 월별 평균 계산
monthly_rate = (
    daily_rate
    .groupby(daily_rate['date'].dt.to_period('M'))
    .agg({'기준금리': 'mean'})
    .reset_index()
)
monthly_rate['년도'] = monthly_rate['date'].dt.year
monthly_rate['월']   = monthly_rate['date'].dt.month
monthly_rate = monthly_rate[['년도', '월', '기준금리']] \
    .rename(columns={'기준금리': '평균기준금리'})

# 5) df_merged_all 과 병합
df_merged_all = pd.merge(
    df_merged_all,
    monthly_rate,
    on=['년도', '월'],
    how='left'
)

# 6) 결과 확인

In [ ]:
df_income = df_income_total.copy()
df_income

,부채보유 여부별,지역별,시점,가구분포 (%),가구원수 (명),가구주 연령 (세),경상소득(전년도) (만원),자산 (만원),부채 (만원),순자산액 (만원)
0,전체,전국,2020,100.0,2.6,56.1,5966,44543,8256,36287
1,전체,전국,2021,100.0,2.6,55.6,6180,50253,8801,41452
2,전체,전국,2022,100.0,2.5,55.2,6470,54772,9170,45602
3,전체,전국,2023,100.0,2.4,55.0,6762,52727,9186,43540
4,전체,전국,2024,100.0,2.4,54.9,7185,54022,9128,44894
...,...,...,...,...,...,...,...,...,...,...
85,전체,제주특별자치도,2020,1.3,2.7,56.8,5571,52147,7869,44278
86,전체,제주특별자치도,2021,1.3,2.8,56.6,5964,56760,7764,48995
87,전체,제주특별자치도,2022,1.3,2.7,55.9,6289,57466,7227,50238
88,전체,제주특별자치도,2023,1.3,2.6,56.1,6460,51170,5776,45394
89,전체,제주특별자치도,2024,1.3,2.5,55.9,6775,52401,7593,44808

In [ ]:
import pandas as pd


# 1) 컬럼명 정리
df_income = df_income.rename(columns={
    '지역별': '지역',
    '시점':   '년도'
})

# 2) 자료형 통일
df_income['년도'] = df_income['년도'].astype(int)
df_income['지역'] = df_income['지역'].astype(str).str.strip()

# 3) 지역명 풀네임 → 약어 매핑 (정규식 없이)
region_map = {
    '전국': '전국',
    '서울특별시': '서울',
    '부산광역시': '부산',
    '대구광역시': '대구',
    '인천광역시': '인천',
    '광주광역시': '광주',
    '대전광역시': '대전',
    '울산광역시': '울산',
    '세종특별자치시': '세종',
    '경기도': '경기',
    '강원특별자치도': '강원',
    '충청북도': '충북',
    '충청남도': '충남',
    '전라북도': '전북',
    '전라남도': '전남',
    '경상북도': '경북',
    '경상남도': '경남',
    '제주특별자치도': '제주'
}
df_income['지역'] = df_income['지역'].replace(region_map)

# 4) 필요한 컬럼만 선택 및 컬럼명 간소화
df_income_sel = df_income[[
    '년도', '지역',
    '경상소득(전년도) (만원)',
    '자산 (만원)',
    '부채 (만원)',
    '순자산액 (만원)'
]].rename(columns={
    '경상소득(전년도) (만원)': '경상소득',
    '자산 (만원)':            '자산',
    '부채 (만원)':            '부채',
    '순자산액 (만원)':        '순자산액'
})

# 5) df_merged_all에 병합
df_merged_all = pd.merge(
    df_merged_all,
    df_income_sel,
    on=['년도', '지역'],
    how='left'
)
df_merged_all.columns = df_merged_all.columns.str.replace(r'_(?:x|y)$', '', regex=True)
# 6) 결과 확인
df_merged_all

,년도,월,지역,차종,용도,전기차 등록수,전기차 순증가량,주행거리,에너지소비효율,충전지용량,...,월합강수량(00~24h만)(mm),미세먼지2.5 수치,미세먼지10 수치,cpi,실업률,평균기준금리,경상소득,자산,부채,순자산액
0,2020,1,강원,소계,계,2448,3,359.976190,4.621429,221.500000,...,85.335714,24.0,34.0,100.39,5.1,1.25,4962,34307,5619,28689
1,2020,1,강원,소계,비사업용,2303,3,359.976190,4.621429,221.500000,...,85.335714,24.0,34.0,100.39,5.1,1.25,4962,34307,5619,28689
2,2020,1,강원,소계,사업용,145,0,359.976190,4.621429,221.500000,...,85.335714,24.0,34.0,100.39,5.1,1.25,4962,34307,5619,28689
3,2020,1,강원,승용,계,2426,3,399.361111,4.741667,227.888889,...,85.335714,24.0,34.0,100.39,5.1,1.25,4962,34307,5619,28689
4,2020,1,강원,승용,비사업용,2300,3,399.361111,4.741667,227.888889,...,85.335714,24.0,34.0,100.39,5.1,1.25,4962,34307,5619,28689
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16195,2024,12,충북,특수,비사업용,16,2,212.846154,2.900000,163.316667,...,6.040000,20.0,33.0,115.50,2.3,3.00,6939,41100,6481,34619
16196,2024,12,충북,특수,사업용,0,0,212.846154,2.900000,163.316667,...,6.040000,20.0,33.0,115.50,2.3,3.00,6939,41100,6481,34619
16197,2024,12,충북,화물,계,7219,73,212.846154,2.900000,163.316667,...,6.040000,20.0,33.0,115.50,2.3,3.00,6939,41100,6481,34619
16198,2024,12,충북,화물,비사업용,6253,55,212.846154,2.900000,163.316667,...,6.040000,20.0,33.0,115.50,2.3,3.00,6939,41100,6481,34619
16199,2024,12,충북,화물,사업용,966,18,212.846154,2.900000,163.316667,...,6.040000,20.0,33.0,115.50,2.3,3.00,6939,41100,6481,34619

In [ ]:
import pandas as pd

# 0) 원본 df_subsidy: ['연도','월','지역','차량유형','기준보조금','월별평균','조정보조금']

# 1) '조정보조금' → '보조금'으로 이름 변경
df_subsidy = df_subsidy.rename(columns={'조정보조금': '보조금'})

# 2) 병합 키 이름 통일
#    연도 → 년도, 차량유형 → 차종 (df_merged_all에 따라 조정)
df_subsidy = df_subsidy.rename(columns={
    '연도':     '년도',
    '차량유형': '차종'
})

# 3) 키 컬럼 타입 정리
df_subsidy[['년도','월']] = df_subsidy[['년도','월']].astype(int)
df_subsidy['지역'] = df_subsidy['지역'].astype(str).str.strip()
df_subsidy['차종'] = df_subsidy['차종'].astype(str).str.strip()

# 4) 병합에 쓸 컬럼만 선택
sub_cols = ['년도','월','지역','차종','보조금']
df_subsidy_sel = df_subsidy[sub_cols]

# 5) df_merged_all과 병합
df_merged_all = pd.merge(
    df_merged_all,
    df_subsidy_sel,
    on=['년도','월','지역','차종'],
    how='left'
)

     년도  월  지역  차종         보조금
0  2020  1  강원  소계         NaN
1  2020  1  강원  소계         NaN
2  2020  1  강원  소계         NaN
3  2020  1  강원  승용  559.784946
4  2020  1  강원  승용  559.784946

,년도,월,지역,차종,용도,전기차 등록수,전기차 순증가량,주행거리,에너지소비효율,충전지용량,...,미세먼지2.5 수치,미세먼지10 수치,cpi,실업률,평균기준금리,경상소득,자산,부채,순자산액,보조금
0,2020,1,강원,소계,계,2448,3,359.976190,4.621429,221.500000,...,24.0,34.0,100.39,5.1,1.25,4962,34307,5619,28689,NaN
1,2020,1,강원,소계,비사업용,2303,3,359.976190,4.621429,221.500000,...,24.0,34.0,100.39,5.1,1.25,4962,34307,5619,28689,NaN
2,2020,1,강원,소계,사업용,145,0,359.976190,4.621429,221.500000,...,24.0,34.0,100.39,5.1,1.25,4962,34307,5619,28689,NaN
3,2020,1,강원,승용,계,2426,3,399.361111,4.741667,227.888889,...,24.0,34.0,100.39,5.1,1.25,4962,34307,5619,28689,559.784946
4,2020,1,강원,승용,비사업용,2300,3,399.361111,4.741667,227.888889,...,24.0,34.0,100.39,5.1,1.25,4962,34307,5619,28689,559.784946
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16195,2024,12,충북,특수,비사업용,16,2,212.846154,2.900000,163.316667,...,20.0,33.0,115.50,2.3,3.00,6939,41100,6481,34619,NaN
16196,2024,12,충북,특수,사업용,0,0,212.846154,2.900000,163.316667,...,20.0,33.0,115.50,2.3,3.00,6939,41100,6481,34619,NaN
16197,2024,12,충북,화물,계,7219,73,212.846154,2.900000,163.316667,...,20.0,33.0,115.50,2.3,3.00,6939,41100,6481,34619,1448.606061
16198,2024,12,충북,화물,비사업용,6253,55,212.846154,2.900000,163.316667,...,20.0,33.0,115.50,2.3,3.00,6939,41100,6481,34619,1448.606061
16199,2024,12,충북,화물,사업용,966,18,212.846154,2.900000,163.316667,...,20.0,33.0,115.50,2.3,3.00,6939,41100,6481,34619,1448.606061

In [ ]:
# 6) 결과 확인
print(df_merged_all[['년도','월','지역','차종','보조금']].head())
df_merged_all

     년도  월  지역  차종         보조금
0  2020  1  강원  소계         NaN
1  2020  1  강원  소계         NaN
2  2020  1  강원  소계         NaN
3  2020  1  강원  승용  559.784946
4  2020  1  강원  승용  559.784946

,년도,월,지역,차종,용도,전기차 등록수,전기차 순증가량,주행거리,에너지소비효율,충전지용량,...,미세먼지2.5 수치,미세먼지10 수치,cpi,실업률,평균기준금리,경상소득,자산,부채,순자산액,보조금
0,2020,1,강원,소계,계,2448,3,359.976190,4.621429,221.500000,...,24.0,34.0,100.39,5.1,1.25,4962,34307,5619,28689,NaN
1,2020,1,강원,소계,비사업용,2303,3,359.976190,4.621429,221.500000,...,24.0,34.0,100.39,5.1,1.25,4962,34307,5619,28689,NaN
2,2020,1,강원,소계,사업용,145,0,359.976190,4.621429,221.500000,...,24.0,34.0,100.39,5.1,1.25,4962,34307,5619,28689,NaN
3,2020,1,강원,승용,계,2426,3,399.361111,4.741667,227.888889,...,24.0,34.0,100.39,5.1,1.25,4962,34307,5619,28689,559.784946
4,2020,1,강원,승용,비사업용,2300,3,399.361111,4.741667,227.888889,...,24.0,34.0,100.39,5.1,1.25,4962,34307,5619,28689,559.784946
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16195,2024,12,충북,특수,비사업용,16,2,212.846154,2.900000,163.316667,...,20.0,33.0,115.50,2.3,3.00,6939,41100,6481,34619,NaN
16196,2024,12,충북,특수,사업용,0,0,212.846154,2.900000,163.316667,...,20.0,33.0,115.50,2.3,3.00,6939,41100,6481,34619,NaN
16197,2024,12,충북,화물,계,7219,73,212.846154,2.900000,163.316667,...,20.0,33.0,115.50,2.3,3.00,6939,41100,6481,34619,1448.606061
16198,2024,12,충북,화물,비사업용,6253,55,212.846154,2.900000,163.316667,...,20.0,33.0,115.50,2.3,3.00,6939,41100,6481,34619,1448.606061
16199,2024,12,충북,화물,사업용,966,18,212.846154,2.900000,163.316667,...,20.0,33.0,115.50,2.3,3.00,6939,41100,6481,34619,1448.606061

In [ ]:
# 1) 소계·승합·특수 행을 별도 DataFrame으로 분리
df_summary = df_merged_all[
    df_merged_all['차종'].isin(['소계', '승합', '특수'])
].copy()

# 2) 원본에서는 화물·승용만 남기기
df_merged_all = df_merged_all[
    df_merged_all['차종'].isin(['화물', '승용'])
].copy()

# 3) 인덱스 재설정(선택)
df_summary     = df_summary.reset_index(drop=True)
df_merged_all  = df_merged_all.reset_index(drop=True)

# 이제
# - df_summary 에는 소계·승합·특수 행만,
# - df_merged_all 에는 화물·승용 행만 남아 있습니다.

In [ ]:
df_merged_all.to_csv('test.csv', index=False, encoding='utf-8-sig')

In [ ]:

# def add_input_vars(df: pd.DataFrame,
#                    conditions: dict,
#                    new_vars: dict,
#                    default_val=None) -> pd.DataFrame:
#     """
#     지정한 조건에 맞는 행들에 입력 변수를 추가/업데이트,
#     new_vars에 들어있는 컬럼이 df에 없으면 default_val로 컬럼 먼저 생성합니다.
#     """
#     df = df.copy()
    
#     # 1) new_vars에 있는 컬럼이 없으면 default_val로 채워서 미리 생성
#     for col in new_vars:
#         if col not in df.columns:
#             df[col] = default_val
    
#     # 2) 조건 마스크 생성
#     mask = pd.Series(True, index=df.index)
#     for col, val in conditions.items():
#         mask &= (df[col] == val)
    
#     # 3) 조건에 맞는 행들에 대해 값 할당
#     for new_col, new_val in new_vars.items():
#         df.loc[mask, new_col] = new_val
    
#     return df


# # # 사용 예시
# # conds = {
# #     '년도': 2020, '월': 1, '지역': '경기',
# #     '연료': '전기', '차종': '승용', '용도': '계'
# # }
# # updates = {
# #     'oil_price': 1300,
# #     'subsidy': 1500000,
# #     'charging_stations': 42   # 신규 컬럼도 바로 추가됩니다
# # }

# # df_full = add_input_vars(df_full, conds, updates, default_val=0)

# # # 확인
# # print(df_full.loc[
# #     (df_full['년도']==2020)&
# #     (df_full['월']==1)&
# #     (df_full['지역']=='경기')&
# #     (df_full['연료']=='전기')&
# #     (df_full['차종']=='승용')&
# #     (df_full['용도']=='계')
# # ])