In [2]:
import pandas as pd

In [7]:

df = pd.read_csv("./01_raw_data/기온, 강수량.csv",encoding='cp949')

station_to_province = {
    '속초': '강원', '북춘천': '강원', '철원': '강원', '동두천': '경기', '파주': '경기',
    '대관령': '강원', '춘천': '강원', '백령도': '인천', '북강릉': '강원', '강릉': '강원',
    '동해': '강원', '서울': '서울', '인천': '인천', '원주': '강원', '울릉도': '경북',
    '수원': '경기', '영월': '강원', '충주': '충북', '서산': '충남', '울진': '경북',
    '청주': '충북', '대전': '대전', '추풍령': '충북', '안동': '경북', '상주': '경북',
    '포항': '경북', '군산': '전북', '대구': '대구', '전주': '전북', '울산': '울산',
    '창원': '경남', '광주': '광주', '부산': '부산', '통영': '경남', '목포': '전남',
    '여수': '전남', '흑산도': '전남', '완도': '전남', '고창': '전북', '순천': '전남',
    '홍성': '충남', '제주': '제주', '고산': '제주', '성산': '제주', '서귀포': '제주',
    '진주': '경남', '강화': '인천', '양평': '경기', '이천': '경기', '인제': '강원',
    '홍천': '강원', '태백': '강원', '정선군': '강원', '제천': '충북', '보은': '충북',
    '천안': '충남', '보령': '충남', '부여': '충남', '금산': '충남', '세종': '세종',
    '부안': '전북', '임실': '전북', '정읍': '전북', '남원': '전북', '장수': '전북',
    '고창군': '전북', '영광군': '전남', '김해시': '경남', '순창군': '전북', '북창원': '경남',
    '양산시': '경남', '보성군': '전남', '강진군': '전남', '장흥': '전남', '해남': '전남',
    '고흥': '전남', '의령군': '경남', '함양군': '경남', '광양시': '전남', '진도군': '전남',
    '봉화': '경북', '영주': '경북', '문경': '경북', '청송군': '경북', '영덕': '경북',
    '의성': '경북', '구미': '경북', '영천': '경북', '경주시': '경북', '거창': '경남',
    '합천': '경남', '밀양': '경남', '산청': '경남', '거제': '경남', '남해': '경남'
}

df['시도'] = df['지점명'].map(station_to_province)

cols_to_numeric = ['평균기온(°C)', '평균최고기온(°C)', '평균최저기온(°C)', '월합강수량(00~24h만)(mm)']
for col in cols_to_numeric:
    df[col] = pd.to_numeric(df[col], errors='coerce')

grouped = (
    df
    .dropna(subset=['시도'])
    .groupby(['일시', '시도'])[cols_to_numeric]
    .mean()
    .reset_index()
)

national = (
    grouped
    .groupby('일시')[cols_to_numeric]   
    .mean()                            
    .reset_index()
)
national['시도'] = '전국' 
national = national[['일시', '시도'] + cols_to_numeric]

grouped_all = pd.concat([grouped, national], ignore_index=True)
grouped_all[['year', 'month']] = grouped_all['일시'].str.split('-', expand=True)

grouped_all = grouped_all.drop(columns='일시')
grouped_all= grouped_all[['year',	'month','시도',	'평균기온(°C)',	'평균최고기온(°C)',	'평균최저기온(°C)',	'월합강수량(00~24h만)(mm)'	]]
grouped_all.to_csv("./02_interim_data/temperature_rain_data.csv", index=False, encoding='utf-8-sig')
grouped_all.head(50)

    year month  시도   평균기온(°C)  평균최고기온(°C)  평균최저기온(°C)  월합강수량(00~24h만)(mm)
0   2020    01  강원   0.728571    5.821429   -3.328571           85.335714
1   2020    01  경기   0.600000    6.060000   -3.860000           70.280000
2   2020    01  경남   3.978571    9.385714   -0.278571          106.492857
3   2020    01  경북   2.778571    7.642857   -1.214286           90.414286
4   2020    01  광주   4.600000    9.000000    1.200000           74.900000
5   2020    01  대구   3.800000    8.400000    0.100000           70.400000
6   2020    01  대전   2.700000    7.800000   -1.200000           78.500000
7   2020    01  부산   6.400000   10.900000    3.100000          127.700000
8   2020    01  서울   1.600000    5.900000   -1.700000           60.500000
9   2020    01  세종   2.100000    7.100000   -1.700000           81.300000
10  2020    01  울산   5.200000    9.500000    1.800000          178.700000
11  2020    01  인천   1.766667    5.166667   -1.066667           50.966667
12  2020    01  전남   4.669231    8.653846    1.215385           80.530769
13  2020    01  전북   2.580000    7.390000   -1.340000           74.000000
14  2020    01  제주   8.725000   11.200000    6.375000           99.325000
15  2020    01  충남   1.883333    7.133333   -2.366667           64.750000
16  2020    01  충북   1.000000    6.200000   -3.240000           66.620000
17  2020    02  강원   1.721429    7.114286   -3.235714           54.207143
18  2020    02  경기   1.700000    7.380000   -3.220000           55.580000
19  2020    02  경남   5.157143   11.135714   -0.121429           58.457143
20  2020    02  경북   3.492857    9.142857   -1.585714           69.985714
21  2020    02  광주   5.300000   10.600000    0.800000           47.800000
22  2020    02  대구   4.900000   10.400000    0.200000           40.200000
23  2020    02  대전   3.600000    9.300000   -1.200000           91.200000
24  2020    02  부산   7.100000   11.800000    3.100000           94.900000
25  2020    02  서울   2.500000    7.200000   -1.300000           53.100000
26  2020    02  세종   2.900000    8.300000   -1.900000           89.700000
27  2020    02  울산   6.000000   11.000000    1.400000           53.600000
28  2020    02  인천   2.233333    5.933333   -1.200000           40.400000
29  2020    02  전남   5.123077   10.076923    0.492308           40.238462
30  2020    02  전북   3.340000    9.040000   -1.590000           58.310000
31  2020    02  제주   9.025000   12.400000    5.600000           66.400000
32  2020    02  충남   2.600000    8.433333   -2.616667           78.700000
33  2020    02  충북   2.020000    7.760000   -3.200000           66.200000
34  2020    03  강원   6.521429   12.850000    0.178571           27.978571
35  2020    03  경기   6.900000   13.880000    0.200000           17.480000
36  2020    03  경남   9.214286   15.592857    3.078571           42.442857
37  2020    03  경북   7.900000   14.400000    1.578571           22.500000
38  2020    03  광주   9.000000   15.200000    3.800000           43.500000
39  2020    03  대구   9.500000   15.800000    3.600000           24.500000
40  2020    03  대전   8.500000   15.000000    2.300000           24.400000
41  2020    03  부산  10.400000   15.000000    6.400000           58.800000
42  2020    03  서울   7.700000   13.300000    2.600000           16.300000
43  2020    03  세종   7.800000   14.300000    1.700000           22.600000
44  2020    03  울산   9.600000   14.900000    4.600000           41.600000
45  2020    03  인천   6.533333   10.733333    2.333333            8.100000
46  2020    03  전남   8.323077   13.953846    2.823077           40.415385
47  2020    03  전북   7.270000   13.820000    1.150000           35.610000
48  2020    03  제주  11.325000   14.800000    7.750000           96.425000
49  2020    03  충남   6.933333   13.483333    0.466667           22.316667